<div class='container'>
  <h1>Editing Task</h1>

  <ol class="breadcrumb">
    <li> <%= link_to "Tasks", tasks_path %></li>
    <li class="active">New Task</li>
  </ol>

  <%= render partial:"form"%>
  </div>
