.container
  %h1 Edit task

  %ol.breadcrumb
    %li
      = link_to "Projects", projects_path
    %li
      = link_to @project.name, project_path(@project)
    %li
      = link_to "Tasks", project_tasks_path
    %li.active Edit Task

  = render partial: "form"
