<div class='container'>


  <b> Description: <%= @task.description %></b>
  <p> </p>

  <u><%= link_to "Edit", edit_task_path %></u> |
  <u><%= link_to "Back", tasks_path %></u>  |
  <u><%= link_to "Delete", tasks_path %></u>

</div>
