.container
  .page-header
    %h1 About
  <div
  .row
    .row
      .col-md-4
        = image_tag("4.jpg", class: "img-responsive")
      .col-md-8-container
        %p
          We are dedicated to the makers, the creators,
          the risk
          %p
            %p
              We wake up in the middle of the night and furiously
              write down ideas about how to make your online life better.
              %p
                %p
                  Human collaboration and communication is what drives us, and
                  it infuses every feature of gCamp
                  %p
                    </div
                    .page-header
